* {box-sizing: border-box}

body 
{font-family: Verdana, sans-serif; margin:0}


.mySlides{ /*hide until we flip to you bud*/
    display: none}


img {
    object-fit: cover; /* made sure to object-fit so wouldnt hurt picture*/
    vertical-align: middle;}


/* Slideshow container placement */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons on both left and right on the photos */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right with little arrow */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* (Left and right) hover gives color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text underneath photo */
.text {
  color:lightgrey;
  font-style: italic;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) on the top left of the picture screen */
.cornertext {
  color:red;
  font-style: italic;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators underneath the photots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover { /* hovers the orange so you can tell which photo your on*/
  background-color: orange;
}

/* Fading animation on the photos!! */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

